@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --background: #17171C;
  --text: #FFFFFF;
  --secondary: #CAD5D3;
  --primary: #D55C6C;
  --placeholder: #6C6C81;
}

html,
body {
  width: 100%;
  margin: 0;
  padding:0;
  background: var(--background);
  text-align: center;
}

body {
  position: relative;
  font-family: Poppins, 'BIZ UDPGothic', sans-serif;
  font-feature-settings: 'palt';
  color: var(--text);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  gap: 12px;
}

nav {
  margin: 25px 12px;
}

img {
  max-width: 100%;
}

.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  width: 700px;
  max-width: 98%;
  margin: 25px auto;
}

.illust img {
  max-height: 510px;
}

.illust img {
  max-height: 510px;
}

h2 {
  font-size: 32px;
  margin: 0;
  letter-spacing: 1px;
}

p.lead {
  line-height: 1.75;
  color: var(--secondary);
  font-size: 20px;
  letter-spacing: 1px;
  margin: 20px 0;
}

strong {
  color: var(--text);
}

small {
  font-size: 14px;
  color: var(--secondary);
  letter-spacing: 0.5px;
  display: block;
}

.copy {
  text-align: left;
}

.illust img {
  max-height: 510px;
}

h2 {
  font-size: 32px;
  margin: 0;
  letter-spacing: 1px;
}

p.lead {
  line-height: 1.75;
  color: var(--secondary);
  font-size: 20px;
  letter-spacing: 1px;
  margin: 20px 0;
}

strong {
  color: var(--text);
}

small {
  font-size: 14px;
  color: var(--secondary);
  letter-spacing: 0.5px;
  display: block;
}

.copy {
  text-align: left;
}

a {}

.speech-btn {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
  display: inline-block;
  background: var(--primary);
  color: var(--text);
  padding: 3px 18px;
  border-radius: 8px;
  transition: 0.2s;
}

.speech-btn:hover {
  text-decoration: none;
  transform: scale(0.95);
}

footer {
  padding: 0 0 25px;
  font-size: 16px;
  color: var(--secondary);
}

input[type=range] {
  width: 80px;
  max-width: 100%;
  height: 2px;
  cursor: pointer;
  background: var(--placeholder);
  border-radius: 0;
  outline: 0;
  appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  background: var(--secondary);
  border-radius: 50%;
  appearance: none;
}

input[type=range]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: var(--secondary);
  border: none;
  border-radius: 50%;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 5px 10px -2px rgb(0 0 0 / 30%);
}


@media screen and (max-width: 768px) {
  .copy {
      text-align: center;
  }

  .hero {
      grid-template-columns: 100%;
      padding: 0 15px;
  }

  .illust img {
      height: 380px;
  }

  .illust {
      grid-row: 2 / 3;
  }

  .copy {
      grid-row: 1 / 2;
  }
}

.speech-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 95%;
  width: 490px;
  display: grid;
  grid-template-columns: 45px 1fr;
  gap: 14px;
  height: 48px;
}

.input {
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--text);
  font-size: 26px;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  box-shadow: 0;
  font-family: Poppins, 'BIZ UDPGothic', sans-serif;
}

.input-wrapper .border {
  position: absolute;
  background: var(--placeholder);
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.input-wrapper {
  position: relative;
}

::placeholder {
  color: var(--placeholder);
}
::-ms-input-placeholder {
  color: var(--placeholder);
}
:-ms-input-placeholder {
  color: var(--placeholder);
}

.input:focus {
  outline: none;
}

.input:focus + .border {
	background: linear-gradient(90deg, 
  #D55C6C 0%,
  #D55C6C 20%,
  #5B81FB 20%,
  #5B81FB 30%,
  #DAAD1A 30%,
  #DAAD1A 40%,
  #CAD5D3 40%,
  #CAD5D3 50%,
  #5BA7B8 50%,
  #5BA7B8 60%,
  #148F37 60%,
  #148F37 80%,
  #D55C6C 80%,
  #D55C6C 100%
  );
	background-size: 600% 600%;
	animation: gradient 5s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.shifter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  max-width: 95%;
  width: 490px;
  margin-top: 15px;
}

.shifter img {
  width: 18px;
}

.bg-red {
  background: #D55C6C;
}

.bg-blue {
  background: #5B81FB;
}

.bg-yellow {
  background: #DAAD1A;
}

.bg-white {
  background: #CAD5D3;
}

.bg-sky {
  background: #5BA7B8;
}

.bg-green {
  background: #148F37;
}

.animation {
  position: fixed;
  height: 50vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  transition: 0.6s;
  opacity:0;
  pointer-events: none;
}

.animation.show {
  opacity: 1;
}

.atom {
  width: 400px;
  height: 400px;
  position: absolute;
  opacity: 1;
  bottom: -200px;
  border-radius: 50%;
  filter: blur(180px);
	animation: atom 3s ease-in-out infinite;
}

.atom:nth-child(2) {
  left: 16%;
  animation-delay: 1.5s;
}

.atom:nth-child(3) {
  left: 32%;
  animation-delay: 2.5s;
}

.atom:nth-child(4) {
  left: 48%;
  animation-delay: 0.5s;
}

.atom:nth-child(5) {
  left: 64%;
  animation-delay: 3s;
}

.atom:nth-child(6) {
  left: 80%;
  animation-delay: 1s;
}

@keyframes atom {
	0% {
    transform: translateY(400px);
    opacity: 0;
	}
	40% {
    transform: translateY(-200px);
    opacity: 1;
	}
	80% {
    transform: translateY(400px);
    opacity: 1;
	}
  100% {
    opacity: 0;
  }
}